body{background-color: maroon;}
h1 {
color:GoldenRod;
font-family:courier;
}
ul {
font-size: 200%;
}

a:link {
  color: LightSeaGreen;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: Fuchsia;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: Navy;
  background-color: transparent;
  text-decoration: wavy underline;
}

a:active {
  color: Gold;
  background-color: transparent;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;

li{ 
float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;*/ tar bort de vita strecken under orden.
